In [2]:
import numpy as np
import pandas as pd
import nltk
import string,time
import ast
from sklearn.metrics.pairwise import cosine_similarity
# from textblob import Textblob
from nltk.tokenize import word_tokenize,sent_tokenize

In [3]:
df=pd.read_csv('C:\\Users\\HYMA\\Downloads\\crime_articles\\7k  Unique crime articles.csv')
df.head()

,heading,content_summary,article_link,img_link,month_date,time,Year
0,"Uttarakhand: Man, 39, held for killing consta...",Nainital district police on Monday arrested a...,https://timesofindia.indiatimes.com/city/dehra...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 08,09:55,2022
1,"Nashik city: Another theft from parked car, s...",Thefts from parked cars continues in the city...,https://timesofindia.indiatimes.com/city/nashi...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 08,08:25,2022
2,Pune: Externed criminal jumps from bus fearin...,An externed criminal died in the early hours ...,https://timesofindia.indiatimes.com/city/pune/...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 08,05:17,2022
3,Gaya woman burned alive on suspicion of witch...,A middle-aged woman was badly thrashed and bu...,https://timesofindia.indiatimes.com/city/patna...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 06,05:24,2022
4,Man held on charge of stalking in Pune,A man (33) was arrested on Tuesday from Khed ...,https://timesofindia.indiatimes.com/city/pune/...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 03,08:32,2022

In [4]:
df.shape

(7617, 7)

In [5]:
df.tail(2)

,heading,content_summary,article_link,img_link,month_date,time,Year
7615,Illegal granite mining in TN: ED tags assets ...,The Enforcement directorate (ED) has told the...,https://timesofindia.indiatimes.com/city/chenn...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 10,04:39,2020
7616,Pramod Sawant asks Goa police to ‘zero down’ ...,Chief minister Pramod Sawant on Friday held a...,https://timesofindia.indiatimes.com/city/goa/c...,https://static.toiimg.com/thumb/imgsize-123456...,Oct 24,04:27,2020

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7617 entries, 0 to 7616
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   heading          7617 non-null   object
 1   content_summary  7617 non-null   object
 2   article_link     7617 non-null   object
 3   img_link         7617 non-null   object
 4   month_date       7617 non-null   object
 5   time             7617 non-null   object
 6   Year             7617 non-null   object
dtypes: object(7)
memory usage: 416.7+ KB

In [7]:
df.isnull().sum()

heading            0
content_summary    0
article_link       0
img_link           0
month_date         0
time               0
Year               0
dtype: int64

In [8]:
#making some plots
df["heading_len"]=df["heading"].apply(lambda x:len(x))
#count words
df["word_count"]=df["heading"].apply(lambda x:len(x.split()))

In [9]:
def get_avg_word_len(x):
    words=x.split()
    word_len=0
    for word in words:
        word_len=word_len+len(word)
    return word_len/len(words)

In [10]:
df["avg_word_len"]=df["heading"].apply(lambda x:get_avg_word_len(x))
df.head()

,heading,content_summary,article_link,img_link,month_date,time,Year,heading_len,word_count,avg_word_len
0,"Uttarakhand: Man, 39, held for killing consta...",Nainital district police on Monday arrested a...,https://timesofindia.indiatimes.com/city/dehra...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 08,09:55,2022,69,10,5.800000
1,"Nashik city: Another theft from parked car, s...",Thefts from parked cars continues in the city...,https://timesofindia.indiatimes.com/city/nashi...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 08,08:25,2022,68,12,4.583333
2,Pune: Externed criminal jumps from bus fearin...,An externed criminal died in the early hours ...,https://timesofindia.indiatimes.com/city/pune/...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 08,05:17,2022,72,12,4.916667
3,Gaya woman burned alive on suspicion of witch...,A middle-aged woman was badly thrashed and bu...,https://timesofindia.indiatimes.com/city/patna...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 06,05:24,2022,52,8,5.375000
4,Man held on charge of stalking in Pune,A man (33) was arrested on Tuesday from Khed ...,https://timesofindia.indiatimes.com/city/pune/...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 03,08:32,2022,40,8,3.875000

In [11]:
#plots
#import plotly as py
#import cufflinks as cf
#from plotly.offline import iplot
#py.offline.init_notebook_mode(connected=True)
#cf.go_online()
#df.iplot()

In [12]:
#making it lowercase
df["heading"].str.lower()

0        uttarakhand: man, 39, held for killing consta...
1        nashik city: another theft from parked car, s...
2        pune: externed criminal jumps from bus fearin...
3        gaya woman burned alive on suspicion of witch...
4                 man held on charge of stalking in pune
                              ...
7612     mumbai: borivli businessman duped of rs 1 lak...
7613     former new york governor cuomo accused of gro...
7614     delhi cop and neighbour injured in shooting; ...
7615     illegal granite mining in tn: ed tags assets ...
7616     pramod sawant asks goa police to ‘zero down’ ...
Name: heading, Length: 7617, dtype: object

In [13]:
df["content_summary"].str.lower()

0        nainital district police on monday arrested a...
1        thefts from parked cars continues in the city...
2        an externed criminal died in the early hours ...
3        a middle-aged woman was badly thrashed and bu...
4        a man (33) was arrested on tuesday from khed ...
                              ...
7612     a smalltime businessman from borivli was dupe...
7613     the filing from the albany county sheriff's o...
7614     a policeman and his neighbour were shot at by...
7615     the enforcement directorate (ed) has told the...
7616     chief minister pramod sawant on friday held a...
Name: content_summary, Length: 7617, dtype: object

In [14]:
import re

In [15]:
#removing the tags
def remove_tags(text):
    pattern=re.compile('<.-*?>')
    return pattern.sub(r'',text)

In [16]:
#tag removal operation
df["heading"]=df["heading"].apply(remove_tags)
df["content_summary"]=df["content_summary"].apply(remove_tags)
df["heading"]

0        Uttarakhand: Man, 39, held for killing consta...
1        Nashik city: Another theft from parked car, s...
2        Pune: Externed criminal jumps from bus fearin...
3        Gaya woman burned alive on suspicion of witch...
4                 Man held on charge of stalking in Pune
                              ...
7612     Mumbai: Borivli businessman duped of Rs 1 lak...
7613     Former New York governor Cuomo accused of gro...
7614     Delhi cop and neighbour injured in shooting; ...
7615     Illegal granite mining in TN: ED tags assets ...
7616     Pramod Sawant asks Goa police to ‘zero down’ ...
Name: heading, Length: 7617, dtype: object

In [18]:
#removing punctuation
punctuation=string.punctuation

In [19]:
#implement string removing
def remove_punc(text):
    return text.translate(str.maketrans('','',punctuation))

In [20]:
df["heading"]=df["heading"].apply(remove_punc)
df["content_summary"]=df["content_summary"].apply(remove_punc)

In [21]:
df["heading"]

0        Uttarakhand Man 39 held for killing constable...
1        Nashik city Another theft from parked car sev...
2        Pune Externed criminal jumps from bus fearing...
3        Gaya woman burned alive on suspicion of witch...
4                 Man held on charge of stalking in Pune
                              ...
7612     Mumbai Borivli businessman duped of Rs 1 lakh...
7613     Former New York governor Cuomo accused of gro...
7614     Delhi cop and neighbour injured in shooting g...
7615     Illegal granite mining in TN ED tags assets w...
7616     Pramod Sawant asks Goa police to ‘zero down’ ...
Name: heading, Length: 7617, dtype: object

In [21]:
from nltk.stem import PorterStemmer
porter=PorterStemmer()
porter.stem('chocolate')

'chocol'

In [22]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()
print(lemmatizer.lemmatize('python'))

python

In [23]:
#stemming
def stem(text):
    lst =[]
    for i in text.split():
        lst.append(ps.stem(i))
    return " ".join(lst)

In [24]:
df['heading']=df['heading'].apply(lambda x:x.lower())

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [26]:
cv._validate_vocabulary()

In [27]:
# making heading to array
vectors=cv.fit_transform(df['heading']).toarray()

In [28]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]], dtype=int64)

In [29]:
vectors.shape

(7617, 5000)

In [30]:
# measuring the similarity between the vectors
similarity=cosine_similarity(vectors)

C:\Users\HYMA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\extmath.py:193: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [31]:
similarity[5]

array([0.        , 0.        , 0.23570226, ..., 0.        , 0.        ,
       0.        ])

In [32]:
#Recommendation Function

def recommend(tag):
    
    heading_index=df[df["heading"]==tag].index[0]
    distances=similarity[heading_index]
    heading_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in heading_list:
        print(df.iloc[i[0]].heading)

In [33]:
df['heading'][0]

' uttarakhand man 39 held for killing constable’s wife in haldwani '

In [34]:
#top 5 similar type of heading  

recommend(' uttarakhand man 39 held for killing constable’s wife in haldwani ')

 uttarakhand man held for killing constable’s wife in us nagar
 pune man held for killing wife
 man held after killing wife in front of children
 navi mumbai man held for killing wife 2 more arrested
 man wife held for killing niece in northeast delhi

In [35]:
#internal things happening inside above function

x=df[df["heading"]==' uttarakhand man 39 held for killing constable’s wife in haldwani '].index[0]

distances=similarity[x]

heading_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:15]

heading_list

for i in heading_list:
    print([i[0]])

[1012]
[5901]
[6968]
[781]
[4336]
[6223]
[3303]
[6682]
[94]
[443]
[6681]
[109]
[2682]
[2979]

In [36]:
df.iloc[[2915]]

,heading,content_summary,article_link,img_link,month_date,time,Year,heading_len,word_count,avg_word_len
2915,bhopal two women molested by neighbours,A 28-year-old woman was allegedly threatened ...,https://timesofindia.indiatimes.com/city/bhopa...,https://static.toiimg.com/thumb/imgsize-123456...,Nov 23,13:18,2021,42,6,5.833333